body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.stats-container div {
  float: left;
  position: absolute;
  z-index: -1;
}

.anymove {
  text-align: center;
}